body {
    font-family: 'Open Sans';
}

.header {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -1;
}

.intro-message {
    font-size: 12px;

}

button {
  height: 100px;
  width: 200px;
  outline: none;
}
